@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@300&family=Open+Sans:wght@300&family=Pangolin&family=Poppins&family=Ubuntu:wght@300&display=swap');

.none-display {
    display: none;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    color: blue;
    font-family: 'Indie Flower', cursive;
    overflow-x: hidden;
    overflow-y: scroll;
}

label {
    color: lightblue;
    display: flex;
    justify-content: center;
    font-size: 3.75vh;
    font-weight: bolder;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 6.5vh;
}

input,
button {
    font-size: larger;
    text-align: center;
    border-radius: 2.5cm;
    width: 18vw;
}

button {
    background: linear-gradient(180deg, lightblue, blue, lightblue);
    border: lightblue 1px solid;
    opacity: 0.65;
}

.timer {
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

.timer>p {
    font-family: 'Indie Flower', cursive;
    font-size: 13.5vh;
    font-weight: bolder;
}

.footer {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    position: fixed;
    bottom: 0;
}
